<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ .Description }}">

	<title>{{ .Title }}</title>

	<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link href="/css/style.min.css" rel="stylesheet">
</head>
<body>
<header class="site-header">
	<div class="container">
		<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		<p class="lead blog-description">{{ .Site.Params.SubTitle }}</p>
	</div>
</header>
<nav class="main-nav">
	<div class="container">
		<ul class="main-menu">
			<li><a href="{{ .Site.BaseURL }}essay/" title="青砾小路">随笔</a></li>
			<li><a href="{{ .Site.BaseURL }}poem/" title="石磬美韵">诗歌</a></li>
			<li><a href="{{ .Site.BaseURL }}love/" title="此情若磐">挚爱</a></li>
			<li><a href="{{ .Site.BaseURL }}coding/" title="淬镐">编程</a></li>
			<li><a href="{{ .Site.BaseURL }}mining/" title="琢石">采矿</a></li>
			<li><a href="{{ .Site.BaseURL }}misc/" title="碎石堆">杂项</a></li>
			<li><a href="{{ .Site.BaseURL }}links" title="他山之石">友邻</a></li>
			<li><a href="{{ .Site.BaseURL }}about" title="石铭">关于</a></li>
		</ul>
	</div>
</nav>
